.button-card-container {
    width: 100%;
    background-color: transparent;

    border-style: solid;
    border-color: var(--pallete-1);
    border-radius: 20px;

    cursor: pointer;

    color: var(--text-color);
    font-weight: bold;
    font-size: 16px;
	opacity: 0.9;
	transition: all 0.4s ease;
}
.button-card-container:hover {
    background-color: var(--pallete-1);
    color: var(--white);
}
.button-card-container svg {
    width: 20px;
    height: 20px;
}